# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [179]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [180]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [181]:
city_count = pyber_data_df["city"].count()
city_count

2375

In [182]:
d_count = pyber_data_df["driver_count"].mean()
d_count

28.930105263157895

In [183]:
rural_cities = pyber_data_df[pyber_data_df["type"] =="Rural"]
rural_cities

,city,date,fare,ride_id,driver_count,type
2250,Randallchester,2019-04-13 11:13:31,43.22,1076079536213,9,Rural
2251,North Holly,2019-02-02 14:54:00,12.42,1985256326182,8,Rural
2252,Michaelberg,2019-03-27 18:27:34,54.85,4421836952718,6,Rural
2253,Lake Latoyabury,2019-02-23 21:12:24,47.90,3269652929887,2,Rural
2254,Lake Latoyabury,2019-05-06 08:57:56,51.80,4018025271936,2,Rural
...,...,...,...,...,...,...
2370,Michaelberg,2019-04-29 17:04:39,13.38,8550365057598,6,Rural
2371,Lake Latoyabury,2019-01-30 00:05:47,20.76,9018727594352,2,Rural
2372,North Jaime,2019-02-10 21:03:50,11.11,2781339863778,1,Rural
2373,West Heather,2019-05-07 19:22:15,44.94,4256853490277,4,Rural
2374,Newtonview,2019-04-25 10:20:13,55.84,9990581345298,1,Rural

## Challenge Deliverable 1. Generate a Ride-Sharing DataFrame by City Type

In [240]:
#  1. Get the total rides for each city type
tr_ct_df = pyber_data_df.groupby(["type"]).count()
tr_ct_df[['city']].sort_values('city', ascending=False)

          city
type
Urban     1625
Suburban   625
Rural      125

In [249]:
# 2. Get the total drivers for each city type
d_count = pyber_data_df.groupby(["type"]).sum()
d_count[["driver_count"]].sort_values('driver_count', ascending=False)

          driver_count
type
Urban            59602
Suburban          8570
Rural              537

In [252]:
#  3. Get the total amount of fares for each city type
t_fares = pyber_data_df.groupby(["type"]).sum()
t_fares[["fare"]].sort_values('fare', ascending=False)

              fare
type
Urban     39854.38
Suburban  19356.33
Rural      4327.93

In [255]:
#  4. Get the average fare per ride for each city type. 
avg_fare = pyber_data_df.groupby(["type"]).mean()
avg_fare[["fare"]].sort_values('fare', ascending=False)

               fare
type
Rural     34.623440
Suburban  30.970128
Urban     24.525772

In [281]:
# 5. Get the average fare per driver for each city type. 
d_avg_fare_df = pyber_data_df.groupby(["type"]).sum()
d_avg_fare_df["Avg Fare Per Driver"] = d_avg_fare_df["fare"] / d_avg_fare_df["driver_count"]
d_avg_fare_df[["fare", "driver_count", "Avg Fare Per Driver"]]

              fare  driver_count  Avg Fare Per Driver
type
Rural      4327.93           537             8.059460
Suburban  19356.33          8570             2.258615
Urban     39854.38         59602             0.668675

In [286]:
#  6. Create a PyBer summary DataFrame.

In [9]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [10]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [11]:
# Print the merged DataFrame for reference.

In [12]:
# 1. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

In [13]:
# 2. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()

In [14]:
# 3. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date.

In [15]:
# 4. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [16]:
# 5. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [17]:
# 6. Check that the datatype for the index is datetime using df.info()

In [18]:
# 7. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [19]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')