# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "city_data.csv"
ride_data_to_load = "ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [4]:
#rural_cities = pyber_data_df[pyber_data_df["type"] =="Rural"]
#rural_cities

## Challenge Deliverable 1. Generate a Ride-Sharing DataFrame by City Type

In [5]:
#  1. Get the total rides for each city type
tr_ct = pyber_data_df.groupby(["type"]).count()["ride_id"]
#tr_ct_df["Total Rides"] = tr_ct_df["city"]
#tr_ct_df[['Total Rides']].sort_values('Total Rides', ascending=False)
tr_ct

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [6]:
# 2. Get the total drivers for each city type
d_count = city_data_df.groupby(["type"]).sum()["driver_count"]
#d_count_df["Total Drivers"] = d_count_df["driver_count"]
#d_count_df[["Total Drivers"]].sort_values('Total Drivers', ascending=False)
d_count

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [7]:
#  3. Get the total amount of fares for each city type
t_fares_df = pyber_data_df.groupby(["type"]).sum()["fare"]
#t_fares_df["Total Fares"] = t_fares_df["fare"]
#t_fares_df[["Total Fares"]].sort_values('Total Fares', ascending=False).style.format('${0:,.2f}')
t_fares_df

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [8]:
#  4. Get the average fare per ride for each city type. 
avg_fare_df = t_fares_df / tr_ct
#avg_fare_df["Average Fares per Ride"] = avg_fare_df["fare"]
#avg_fare_df[["Average Fares per Ride"]].sort_values('Average Fares per Ride', ascending=False).style.format('${0:,.2f}')
avg_fare_df

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [9]:
# 5. Get the average fare per driver for each city type. 
d_avg_fare_df = t_fares_df / d_count
#d_avg_fare_df["Average Fare Per Driver"] = d_avg_fare_df["fare"] / d_avg_fare_df["driver_count"]
#d_avg_fare_df[["Average Fare Per Driver"]].style.format('${0:,.2f}')
d_avg_fare_df

type
Rural       55.486282
Suburban    39.502714
Urban       16.571468
dtype: float64

In [10]:
#summary_one_df = pd.merge(tr_ct_df, d_count_df, how="left", on=["type"])
#summary_two_df = pd.merge(summary_one_df, t_fares_df, how="left", on=["type"])
#summary_three_df = pd.merge(summary_two_df, avg_fare_df, how="left", on=["type"])
#summary_four_df = pd.merge(summary_three_df, d_avg_fare_df, how="left", on=["type"])
#pyber_summary_safe_df = summary_four_df
#pyber_summary_safe_df
pyber_ride_summary_df = pd.DataFrame({
                                      "Total Rides": tr_ct,
                                     "Total Drivers": d_count,
                                     "Total Fares": t_fares_df, 
                                     "Average Fare per Ride": avg_fare_df,
                                     "Average Fare per Driver": d_avg_fare_df})
pyber_ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [11]:
#  6. Create a PyBer summary DataFrame. 
pyber_ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
type,,,,,
Rural,125,78,4327.93,34.623440,55.486282
Suburban,625,490,19356.33,30.970128,39.502714
Urban,1625,2405,39854.38,24.525772,16.571468

In [12]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_ride_summary_df.index.name = None

In [13]:
#  8. Format the columns.
pyber_ride_summary_df ["Total Rides"] = pyber_ride_summary_df["Total Rides"].map("{:,}".format)
pyber_ride_summary_df ["Total Drivers"] = pyber_ride_summary_df["Total Drivers"].map("{:,}".format)
pyber_ride_summary_df ["Total Fares"] = pyber_ride_summary_df["Total Fares"].map("${:,.2f}".format)
pyber_ride_summary_df ["Average Fare per Ride"] = pyber_ride_summary_df["Average Fare per Ride"].map("${:.2f}".format)
pyber_ride_summary_df ["Average Fare per Driver"] = pyber_ride_summary_df["Average Fare per Driver"].map("${:,.2f}".format)
pyber_ride_summary_df

,Total Rides,Total Drivers,Total Fares,Average Fare per Ride,Average Fare per Driver
Rural,125,78,"$4,327.93",$34.62,$55.49
Suburban,625,490,"$19,356.33",$30.97,$39.50
Urban,"1,625","2,405","$39,854.38",$24.53,$16.57

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [101]:
# Print the merged DataFrame for reference.
pyber_data_df.head(5)

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [102]:
fare_sums = pyber_data_df["fare"].tolist()
fare_sums

[13.83,
 30.24,
 33.44,
 23.44,
 34.58,
 9.52,
 43.25,
 35.98,
 35.09,
 42.81,
 9.34,
 26.86,
 44.26,
 12.74,
 25.66,
 9.19,
 18.93,
 8.85,
 10.02,
 29.67,
 7.8,
 8.28,
 40.86,
 41.52,
 36.39,
 41.12,
 24.4,
 8.23,
 25.79,
 27.41,
 25.05,
 40.69,
 41.47,
 25.96,
 44.86,
 36.01,
 12.28,
 38.09,
 8.35,
 13.93,
 27.9,
 34.06,
 41.33,
 21.7,
 14.65,
 12.91,
 37.3,
 17.05,
 5.3,
 28.02,
 28.08,
 25.02,
 42.5,
 32.69,
 38.77,
 7.31,
 4.43,
 21.44,
 25.17,
 34.71,
 32.7,
 15.83,
 16.34,
 28.52,
 17.19,
 36.78,
 44.37,
 32.85,
 19.52,
 23.87,
 33.12,
 16.26,
 12.64,
 14.04,
 39.12,
 7.11,
 31.25,
 33.11,
 13.34,
 26.47,
 39.77,
 36.31,
 32.37,
 9.2,
 19.62,
 24.5,
 34.11,
 12.38,
 43.61,
 21.67,
 36.15,
 16.99,
 23.18,
 7.05,
 37.68,
 35.58,
 25.21,
 23.3,
 36.78,
 32.19,
 41.06,
 37.2,
 20.62,
 20.0,
 18.77,
 22.05,
 16.98,
 44.58,
 6.41,
 35.51,
 27.11,
 37.91,
 18.03,
 14.55,
 24.76,
 22.86,
 30.25,
 25.76,
 14.52,
 18.08,
 22.76,
 29.67,
 32.08,
 23.66,
 27.48,
 29.41,
 27.1,
 22.97,
 23.77,
 9.67,
 22.86,
 9.63,
 8.83,
 28.41,
 7.89,
 29.69,
 22.59,
 38.04,
 27.39,
 7.29,
 41.15,
 43.34,
 8.28,
 41.93,
 19.13,
 24.81,
 13.29,
 28.3,
 25.67,
 5.7,
 42.04,
 6.73,
 23.99,
 36.01,
 19.89,
 8.57,
 32.94,
 17.03,
 4.42,
 27.68,
 44.46,
 13.86,
 30.22,
 5.32,
 26.28,
 29.08,
 30.55,
 23.24,
 39.2,
 22.41,
 7.57,
 10.35,
 43.75,
 32.31,
 29.4,
 10.19,
 20.8,
 35.11,
 7.02,
 36.06,
 30.77,
 11.9,
 33.51,
 43.62,
 33.72,
 24.28,
 20.21,
 30.38,
 24.49,
 17.83,
 43.96,
 25.4,
 30.02,
 40.82,
 9.04,
 27.24,
 13.89,
 25.5,
 22.33,
 13.13,
 9.68,
 4.24,
 16.78,
 7.04,
 43.25,
 24.64,
 28.0,
 6.34,
 4.86,
 25.4,
 24.29,
 22.86,
 31.68,
 35.42,
 41.27,
 13.55,
 4.2,
 30.93,
 9.79,
 24.82,
 27.92,
 39.53,
 36.52,
 42.57,
 26.81,
 14.0,
 20.03,
 4.33,
 24.09,
 35.35,
 36.32,
 41.62,
 25.33,
 28.25,
 12.91,
 43.66,
 18.89,
 40.35,
 27.16,
 36.17,
 13.58,
 30.3,
 25.47,
 17.97,
 35.23,
 4.66,
 32.34,
 13.88,
 10.42,
 11.46,
 36.77,
 39.95,
 28.37,
 25.3,
 43.43,
 38.24,
 15.45,
 32.99,
 40.33,
 4.68,
 34.7,
 4.74,
 27.63,
 5.78,
 24.56,
 24.72,
 10.15,
 12.84,
 14.55,
 42.51,
 15.64,
 36.96,
 39.65,
 32.99,
 32.8,
 16.05,
 42.13,
 16.84,
 36.37,
 21.46,
 21.38,
 44.33,
 22.65,
 30.87,
 4.72,
 44.18,
 7.45,
 30.84,
 25.02,
 42.59,
 10.18,
 20.09,
 35.76,
 25.97,
 24.07,
 24.13,
 40.46,
 40.86,
 7.86,
 37.93,
 22.53,
 10.03,
 25.22,
 37.78,
 32.03,
 21.22,
 43.87,
 30.58,
 34.82,
 38.78,
 44.96,
 24.3,
 44.03,
 7.65,
 7.91,
 32.77,
 35.5,
 39.97,
 36.84,
 5.31,
 29.24,
 14.95,
 16.1,
 37.22,
 27.78,
 10.76,
 35.27,
 28.69,
 41.49,
 37.95,
 25.58,
 5.65,
 23.76,
 37.93,
 36.7,
 31.63,
 28.04,
 34.9,
 29.86,
 44.64,
 22.75,
 7.77,
 17.39,
 37.48,
 20.49,
 30.41,
 19.65,
 34.05,
 32.37,
 20.1,
 39.55,
 29.07,
 16.18,
 37.89,
 19.91,
 18.92,
 21.75,
 39.06,
 16.79,
 22.52,
 24.86,
 17.92,
 23.12,
 27.7,
 33.33,
 5.81,
 21.95,
 22.42,
 9.01,
 11.97,
 38.02,
 29.96,
 17.57,
 10.26,
 38.15,
 43.19,
 36.3,
 19.99,
 41.44,
 28.84,
 29.13,
 17.19,
 18.67,
 9.79,
 21.41,
 36.92,
 17.21,
 32.39,
 33.34,
 26.03,
 33.07,
 42.45,
 29.09,
 9.1,
 44.5,
 5.16,
 14.94,
 31.72,
 43.47,
 6.71,
 10.98,
 24.83,
 22.64,
 23.0,
 17.07,
 29.36,
 27.04,
 39.47,
 40.29,
 17.57,
 31.64,
 24.07,
 9.24,
 10.31,
 24.18,
 37.51,
 10.83,
 13.34,
 44.1,
 21.06,
 38.66,
 10.97,
 19.44,
 4.31,
 22.64,
 32.72,
 28.53,
 14.06,
 7.06,
 44.34,
 9.08,
 24.84,
 7.64,
 5.54,
 31.92,
 35.63,
 31.09,
 39.6,
 44.73,
 32.57,
 25.94,
 35.33,
 10.64,
 12.22,
 33.37,
 10.68,
 42.52,
 25.4,
 20.82,
 39.82,
 42.42,
 9.54,
 33.1,
 23.14,
 9.26,
 26.84,
 34.94,
 10.44,
 31.88,
 29.95,
 26.68,
 24.39,
 19.05,
 15.14,
 9.94,
 15.03,
 17.57,
 7.58,
 14.95,
 21.55,
 31.3,
 22.39,
 30.24,
 20.07,
 22.28,
 44.29,
 36.31,
 37.75,
 13.39,
 13.14,
 11.1,
 28.83,
 26.83,
 5.81,
 39.18,
 4.92,
 30.03,
 4.66,
 22.87,
 38.69,
 13.63,
 19.61,
 5.42,
 15.78,
 23.55,
 35.79,
 33.71,
 5.67,
 39.57,
 33.24,
 17.66,
 20.16,
 38.28,
 41.62,
 19.99,
 21.18,
 28.62,
 15.14,
 24.32,
 33.72,
 14.73,
 37.58,
 29.04,
 22.43,
 32.42,
 34.69,
 43.45,
 39.7,
 39.32,
 43.82,
 36.42,
 43.85,
 19.21,
 35.97,
 17.76,
 44.43,
 40.4,
 31.49,
 43.26,
 25.14,
 4.9,
 40.65,
 43.82,
 44.33,
 23.52,
 6.39,
 6.27,
 10.12,
 5.58,
 17.12,
 27.45,
 8.62,
 28.46,
 15.04,
 10.56,
 21.19,
 36.28,
 41.14,
 34.69,
 20.72,
 21.98,
 40.82,
 19.42,
 10.52,
 23.26,
 23.66,
 11.24,
 6.32,
 39.36,
 25.76,
 9.37,
 20.16,
 41.86,
 40.8,
 8.48,
 16.31,
 42.83,
 13.38,
 25.65,
 5.36,
 44.47,
 11.85,
 4.97,
 42.58,
 5.59,
 7.09,
 18.3,
 16.55,
 39.39,
 28.66,
 4.4,
 14.51,
 12.01,
 11.94,
 22.45,
 15.33,
 11.15,
 22.91,
 39.41,
 28.54,
 17.77,
 15.35,
 35.19,
 23.55,
 16.2,
 16.11,
 23.06,
 36.7,
 24.16,
 18.66,
 10.63,
 32.43,
 38.99,
 35.11,
 4.95,
 13.01,
 24.31,
 9.78,
 15.87,
 20.56,
 40.98,
 23.07,
 7.78,
 24.54,
 14.68,
 42.75,
 17.38,
 36.29,
 22.86,
 15.06,
 32.27,
 42.53,
 23.53,
 8.42,
 18.15,
 28.52,
 14.11,
 26.64,
 44.28,
 31.89,
 10.05,
 41.76,
 37.05,
 33.29,
 4.05,
 18.62,
 10.58,
 24.13,
 21.99,
 12.44,
 23.35,
 9.81,
 24.87,
 24.34,
 42.11,
 22.89,
 30.49,
 41.48,
 31.43,
 34.21,
 32.48,
 5.19,
 13.55,
 4.29,
 24.29,
 43.31,
 28.3,
 27.37,
 43.05,
 23.95,
 26.58,
 4.64,
 43.5,
 27.48,
 44.75,
 9.48,
 32.38,
 27.9,
 7.01,
 15.17,
 19.19,
 33.24,
 26.6,
 40.79,
 38.3,
 16.58,
 22.66,
 30.36,
 30.0,
 15.22,
 40.77,
 21.59,
 31.99,
 25.31,
 42.92,
 26.92,
 12.02,
 16.27,
 19.43,
 11.61,
 39.32,
 40.69,
 40.55,
 34.65,
 24.17,
 36.28,
 27.02,
 15.58,
 18.76,
 28.81,
 28.44,
 20.71,
 42.2,
 16.22,
 13.69,
 38.97,
 44.41,
 32.18,
 27.81,
 37.35,
 44.85,
 33.9,
 14.94,
 32.8,
 4.07,
 27.46,
 39.27,
 38.97,
 32.17,
 7.63,
 23.7,
 22.39,
 32.68,
 10.21,
 39.26,
 27.96,
 8.58,
 14.8,
 30.83,
 28.24,
 14.65,
 27.11,
 10.04,
 22.72,
 4.1,
 11.51,
 27.1,
 24.37,
 18.67,
 25.58,
 11.26,
 13.88,
 42.52,
 37.6,
 5.75,
 15.47,
 18.43,
 15.93,
 22.81,
 27.42,
 31.62,
 20.09,
 23.83,
 4.47,
 10.3,
 36.27,
 39.81,
 31.07,
 28.92,
 25.3,
 13.43,
 43.5,
 31.02,
 27.84,
 12.31,
 35.57,
 28.58,
 25.33,
 26.54,
 41.05,
 35.45,
 37.66,
 26.44,
 28.73,
 15.55,
 42.27,
 25.93,
 28.59,
 34.32,
 43.72,
 7.04,
 14.12,
 5.21,
 10.07,
 11.93,
 11.06,
 22.26,
 25.29,
 33.21,
 25.58,
 15.48,
 5.92,
 8.69,
 37.03,
 24.47,
 4.96,
 10.91,
 17.47,
 25.97,
 9.39,
 37.91,
 40.06,
 6.39,
 27.45,
 5.78,
 20.33,
 7.19,
 35.29,
 4.89,
 15.05,
 11.92,
 5.56,
 22.51,
 6.54,
 14.82,
 35.68,
 23.76,
 42.93,
 11.39,
 27.64,
 9.42,
 14.72,
 40.21,
 38.42,
 42.97,
 8.57,
 14.11,
 21.24,
 15.55,
 25.98,
 13.02,
 6.08,
 11.71,
 15.94,
 34.93,
 40.29,
 32.44,
 22.74,
 4.07,
 38.0,
 16.89,
 13.38,
 32.77,
 27.2,
 35.7,
 4.87,
 20.26,
 43.93,
 11.33,
 21.17,
 6.76,
 31.43,
 22.65,
 25.84,
 40.93,
 15.64,
 37.62,
 31.82,
 26.91,
 24.55,
 22.24,
 31.08,
 8.81,
 18.99,
 10.89,
 8.37,
 42.04,
 44.44,
 25.65,
 9.1,
 15.36,
 19.53,
 25.06,
 43.27,
 15.94,
 42.24,
 38.95,
 26.34,
 44.74,
 25.06,
 7.69,
 18.92,
 7.05,
 26.45,
 29.9,
 12.71,
 24.49,
 41.26,
 14.43,
 4.63,
 6.08,
 6.19,
 5.76,
 34.2,
 13.53,
 28.76,
 5.03,
 17.33,
 23.31,
 8.87,
 21.38,
 21.02,
 12.81,
 23.46,
 22.44,
 23.56,
 43.01,
 9.7,
 19.95,
 27.54,
 4.1,
 16.46,
 15.31,
 29.88,
 11.16,
 23.21,
 31.43,
 9.71,
 40.55,
 14.55,
 36.35,
 23.62,
 6.69,
 22.72,
 23.23,
 32.22,
 5.43,
 6.5,
 39.39,
 41.96,
 41.29,
 30.97,
 25.68,
 39.23,
 29.99,
 20.38,
 15.49,
 36.7,
 39.59,
 36.13,
 36.89,
 36.82,
 39.74,
 43.92,
 28.84,
 19.81,
 32.74,
 4.65,
 19.08,
 18.74,
 10.94,
 17.63,
 21.18,
 33.97,
 7.08,
 23.33,
 14.21,
 8.91,
 19.73,
 30.47,
 33.12,
 31.6,
 9.72,
 25.55,
 40.87,
 27.91,
 31.31,
 31.41,
 44.39,
 36.87,
 22.03,
 13.59,
 5.93,
 44.27,
 34.65,
 44.12,
 35.65,
 14.54,
 17.35,
 37.6,
 4.63,
 25.72,
 4.28,
 28.04,
 32.18,
 26.72,
 39.76,
 14.3,
 18.24,
 32.73,
 4.95,
 23.48,
 7.45,
 7.08,
 44.91,
 23.38,
 41.48,
 7.68,
 36.08,
 43.98,
 ...]

In [103]:
new_date = pyber_data_df["date"].tolist()
new_date

['2019-01-14 10:14:22',
 '2019-03-04 18:24:09',
 '2019-02-24 04:29:00',
 '2019-02-10 23:22:03',
 '2019-03-06 04:28:35',
 '2019-03-11 12:26:48',
 '2019-02-27 11:17:56',
 '2019-04-26 00:43:24',
 '2019-01-08 03:28:48',
 '2019-03-09 06:26:29',
 '2019-02-07 01:10:11',
 '2019-01-12 01:45:27',
 '2019-03-02 18:03:20',
 '2019-01-10 12:17:31',
 '2019-05-04 14:48:56',
 '2019-03-28 22:28:44',
 '2019-01-03 16:19:25',
 '2019-02-26 18:42:15',
 '2019-03-06 02:27:01',
 '2019-04-25 22:58:38',
 '2019-02-24 10:26:34',
 '2019-05-01 03:12:49',
 '2019-03-19 05:46:20',
 '2019-04-25 03:29:09',
 '2019-02-19 16:22:09',
 '2019-05-03 14:33:41',
 '2019-03-14 23:46:50',
 '2019-04-01 01:06:03',
 '2019-02-10 23:32:13',
 '2019-01-11 18:44:14',
 '2019-03-18 22:54:11',
 '2019-01-15 11:44:20',
 '2019-02-02 14:14:37',
 '2019-02-28 04:13:57',
 '2019-02-03 00:48:41',
 '2019-02-12 06:52:03',
 '2019-02-15 04:21:47',
 '2019-02-18 08:17:35',
 '2019-03-12 06:47:43',
 '2019-02-24 08:40:38',
 '2019-03-14 16:47:25',
 '2019-03-25 14:33:27',
 '2019-05-08 02:31:25',
 '2019-04-25 20:57:43',
 '2019-04-23 08:59:48',
 '2019-03-05 03:27:34',
 '2019-03-03 14:48:30',
 '2019-05-05 10:34:50',
 '2019-03-19 15:31:26',
 '2019-03-03 02:13:37',
 '2019-03-03 17:50:23',
 '2019-02-18 09:22:35',
 '2019-02-14 05:55:36',
 '2019-05-08 01:54:18',
 '2019-05-02 13:55:01',
 '2019-04-24 03:20:14',
 '2019-03-10 10:45:24',
 '2019-05-04 21:50:30',
 '2019-03-03 03:17:20',
 '2019-03-01 18:48:35',
 '2019-04-03 07:51:03',
 '2019-01-19 23:06:27',
 '2019-04-17 06:23:18',
 '2019-04-04 13:03:16',
 '2019-03-16 01:38:48',
 '2019-01-30 17:41:45',
 '2019-04-26 04:45:54',
 '2019-03-22 11:19:58',
 '2019-01-15 02:59:07',
 '2019-04-06 13:48:54',
 '2019-03-02 09:54:50',
 '2019-01-07 19:02:38',
 '2019-03-18 17:14:06',
 '2019-02-23 19:13:13',
 '2019-02-24 07:57:03',
 '2019-02-09 02:17:35',
 '2019-04-07 20:51:11',
 '2019-03-17 14:42:43',
 '2019-02-20 19:32:45',
 '2019-04-19 19:35:08',
 '2019-03-02 14:44:47',
 '2019-03-03 11:28:17',
 '2019-02-25 08:26:25',
 '2019-04-16 18:34:44',
 '2019-01-23 17:51:24',
 '2019-01-07 02:23:48',
 '2019-01-05 05:02:35',
 '2019-03-06 22:56:31',
 '2019-01-07 18:47:02',
 '2019-05-03 12:09:12',
 '2019-03-11 17:26:12',
 '2019-01-30 12:34:42',
 '2019-04-04 02:35:55',
 '2019-02-19 03:19:21',
 '2019-01-23 13:23:53',
 '2019-03-29 21:43:04',
 '2019-03-08 20:06:21',
 '2019-04-17 02:25:49',
 '2019-01-11 17:15:17',
 '2019-01-17 02:12:01',
 '2019-03-08 01:08:42',
 '2019-01-04 16:38:59',
 '2019-02-18 07:47:15',
 '2019-02-07 07:27:09',
 '2019-05-05 11:21:47',
 '2019-03-22 08:56:23',
 '2019-03-12 06:59:59',
 '2019-04-05 03:18:56',
 '2019-03-18 10:10:37',
 '2019-01-23 09:08:20',
 '2019-01-21 17:21:50',
 '2019-01-05 15:36:46',
 '2019-02-03 07:07:01',
 '2019-01-15 07:55:34',
 '2019-04-03 03:16:18',
 '2019-01-21 16:26:37',
 '2019-02-17 09:54:44',
 '2019-05-06 23:22:49',
 '2019-01-25 15:35:18',
 '2019-04-06 21:38:50',
 '2019-04-02 17:39:37',
 '2019-04-22 03:32:37',
 '2019-04-13 21:47:30',
 '2019-03-07 15:47:07',
 '2019-03-03 16:07:24',
 '2019-03-31 13:58:15',
 '2019-03-10 11:23:00',
 '2019-03-12 02:44:01',
 '2019-01-08 09:38:14',
 '2019-04-02 07:05:54',
 '2019-04-22 21:37:41',
 '2019-02-24 12:05:12',
 '2019-04-26 08:41:02',
 '2019-04-29 20:54:19',
 '2019-02-09 16:46:59',
 '2019-04-05 18:23:53',
 '2019-05-01 13:56:38',
 '2019-04-24 19:33:56',
 '2019-03-11 02:19:28',
 '2019-03-27 02:18:33',
 '2019-03-26 20:22:28',
 '2019-04-12 03:38:12',
 '2019-05-01 21:53:42',
 '2019-04-02 19:22:47',
 '2019-01-30 18:08:35',
 '2019-02-01 20:17:16',
 '2019-03-27 12:48:21',
 '2019-05-04 09:10:40',
 '2019-04-27 16:22:23',
 '2019-02-08 23:57:16',
 '2019-03-07 18:37:30',
 '2019-03-06 09:51:08',
 '2019-03-16 11:46:25',
 '2019-04-19 10:17:18',
 '2019-03-09 23:45:55',
 '2019-01-30 12:35:37',
 '2019-04-13 06:56:12',
 '2019-04-12 05:27:42',
 '2019-02-09 14:07:54',
 '2019-01-21 11:49:50',
 '2019-01-09 15:24:41',
 '2019-02-01 05:51:10',
 '2019-02-12 16:32:49',
 '2019-03-29 04:07:48',
 '2019-03-05 02:15:38',
 '2019-01-27 14:46:26',
 '2019-03-24 00:26:39',
 '2019-01-23 12:32:46',
 '2019-02-24 06:14:16',
 '2019-03-30 10:46:05',
 '2019-01-01 03:46:50',
 '2019-03-02 06:06:17',
 '2019-01-08 17:33:26',
 '2019-01-30 18:46:42',
 '2019-01-08 00:29:35',
 '2019-01-02 20:08:57',
 '2019-01-31 05:32:33',
 '2019-04-09 20:23:11',
 '2019-01-30 15:21:53',
 '2019-05-03 02:49:42',
 '2019-03-31 15:22:26',
 '2019-04-09 14:34:27',
 '2019-01-05 22:21:59',
 '2019-04-22 03:15:33',
 '2019-02-13 20:07:49',
 '2019-04-07 18:09:21',
 '2019-03-20 19:11:26',
 '2019-02-08 16:30:53',
 '2019-02-08 18:07:22',
 '2019-01-24 07:08:44',
 '2019-02-13 11:01:59',
 '2019-04-19 00:05:32',
 '2019-02-08 07:35:04',
 '2019-01-17 10:15:36',
 '2019-01-17 14:30:56',
 '2019-01-15 15:27:56',
 '2019-01-02 14:14:50',
 '2019-04-25 09:50:07',
 '2019-03-26 09:45:05',
 '2019-04-14 05:11:17',
 '2019-02-01 14:11:33',
 '2019-02-23 11:13:25',
 '2019-03-11 21:35:00',
 '2019-01-16 16:17:05',
 '2019-03-01 08:58:12',
 '2019-03-30 11:38:39',
 '2019-03-10 01:07:52',
 '2019-02-07 18:36:22',
 '2019-02-08 19:03:17',
 '2019-02-27 00:40:41',
 '2019-02-20 16:59:35',
 '2019-04-28 08:15:09',
 '2019-01-22 17:25:25',
 '2019-03-17 00:30:34',
 '2019-04-29 02:49:02',
 '2019-01-09 07:00:08',
 '2019-03-30 20:21:59',
 '2019-01-23 21:23:07',
 '2019-03-26 00:49:34',
 '2019-01-14 01:15:16',
 '2019-01-17 14:08:06',
 '2019-02-14 14:00:56',
 '2019-03-27 13:11:14',
 '2019-03-20 10:40:26',
 '2019-05-01 01:26:21',
 '2019-02-13 12:46:07',
 '2019-01-25 12:29:55',
 '2019-03-05 05:39:23',
 '2019-05-04 02:33:59',
 '2019-01-04 06:10:40',
 '2019-03-14 10:46:12',
 '2019-03-03 16:13:34',
 '2019-02-22 01:56:17',
 '2019-03-01 11:06:21',
 '2019-04-04 13:22:44',
 '2019-02-24 23:10:49',
 '2019-03-27 00:10:12',
 '2019-03-04 03:26:39',
 '2019-05-06 22:21:58',
 '2019-02-10 20:42:46',
 '2019-02-25 04:32:14',
 '2019-03-01 11:13:34',
 '2019-01-03 05:45:12',
 '2019-01-03 01:03:50',
 '2019-01-29 11:26:47',
 '2019-03-30 03:13:00',
 '2019-01-10 02:31:33',
 '2019-02-26 11:57:44',
 '2019-03-21 09:45:04',
 '2019-04-28 14:28:36',
 '2019-05-04 15:20:09',
 '2019-04-18 06:03:51',
 '2019-02-01 22:32:07',
 '2019-05-05 06:26:50',
 '2019-05-06 05:05:46',
 '2019-04-10 11:45:30',
 '2019-01-27 19:38:12',
 '2019-04-07 08:54:49',
 '2019-02-24 02:56:43',
 '2019-02-23 17:42:40',
 '2019-04-18 01:40:39',
 '2019-04-03 08:47:52',
 '2019-02-04 04:57:28',
 '2019-02-12 03:42:21',
 '2019-01-27 01:01:17',
 '2019-01-22 13:11:13',
 '2019-05-05 05:18:46',
 '2019-04-27 08:48:36',
 '2019-03-07 01:51:26',
 '2019-03-29 20:35:12',
 '2019-03-27 11:56:08',
 '2019-03-18 12:48:08',
 '2019-02-08 17:11:44',
 '2019-01-08 09:03:12',
 '2019-03-21 02:20:43',
 '2019-03-27 00:31:25',
 '2019-01-08 23:51:25',
 '2019-04-06 11:30:32',
 '2019-02-05 18:53:14',
 '2019-03-27 01:08:09',
 '2019-03-04 17:20:57',
 '2019-01-15 00:10:14',
 '2019-02-21 06:55:34',
 '2019-03-06 03:56:20',
 '2019-03-27 13:32:59',
 '2019-02-21 16:38:59',
 '2019-01-02 11:51:32',
 '2019-01-30 12:59:43',
 '2019-03-05 02:33:54',
 '2019-02-04 08:12:17',
 '2019-03-17 19:23:29',
 '2019-04-13 07:37:48',
 '2019-05-02 04:14:34',
 '2019-03-15 15:08:17',
 '2019-05-03 09:04:03',
 '2019-02-21 20:37:56',
 '2019-04-28 04:34:56',
 '2019-03-09 03:50:21',
 '2019-01-07 12:05:30',
 '2019-04-14 01:20:33',
 '2019-03-25 20:45:53',
 '2019-04-09 16:57:04',
 '2019-04-13 12:26:02',
 '2019-01-08 08:25:29',
 '2019-02-01 22:43:37',
 '2019-02-08 23:33:35',
 '2019-03-21 00:14:02',
 '2019-03-23 06:28:19',
 '2019-02-24 19:34:24',
 '2019-01-30 01:19:21',
 '2019-02-28 15:08:06',
 '2019-04-15 01:36:17',
 '2019-02-15 15:13:00',
 '2019-01-27 08:52:04',
 '2019-04-22 16:43:04',
 '2019-04-14 18:40:42',
 '2019-03-26 06:12:20',
 '2019-02-18 21:09:27',
 '2019-03-14 16:12:38',
 '2019-04-24 11:54:24',
 '2019-01-11 02:22:07',
 '2019-05-05 17:38:07',
 '2019-02-09 05:54:52',
 '2019-04-13 08:29:32',
 '2019-04-27 00:58:54',
 '2019-02-07 05:08:45',
 '2019-03-14 15:24:44',
 '2019-03-04 15:13:08',
 '2019-02-17 06:28:32',
 '2019-03-21 00:18:34',
 '2019-02-05 16:02:12',
 '2019-03-19 03:15:53',
 '2019-03-23 20:59:03',
 '2019-03-11 21:03:21',
 '2019-04-29 01:22:02',
 '2019-04-14 06:43:14',
 '2019-03-02 15:40:25',
 '2019-03-24 15:21:54',
 '2019-05-02 10:24:46',
 '2019-03-21 15:40:04',
 '2019-02-15 06:49:06',
 '2019-04-12 13:57:21',
 '2019-01-07 09:41:54',
 '2019-04-30 16:02:17',
 '2019-01-07 20:03:19',
 '2019-02-11 03:46:39',
 '2019-02-20 01:05:29',
 '2019-03-18 12:08:51',
 '2019-03-06 04:19:59',
 '2019-02-05 10:34:09',
 '2019-02-09 05:48:26',
 '2019-04-20 07:37:19',
 '2019-04-18 12:07:32',
 '2019-03-10 09:19:12',
 '2019-01-10 17:29:33',
 '2019-04-07 00:32:37',
 '2019-01-31 02:51:29',
 '2019-02-18 18:49:51',
 '2019-02-13 11:40:59',
 '2019-02-22 07:44:56',
 '2019-04-25 14:44:55',
 '2019-02-16 13:52:19',
 '2019-04-16 23:07:08',
 '2019-02-12 07:41:25',
 '2019-04-13 19:49:03',
 '2019-04-18 18:37:14',
 '2019-01-23 22:51:26',
 '2019-04-18 12:19:12',
 '2019-05-03 22:33:04',
 '2019-03-01 21:33:11',
 '2019-04-10 22:15:25',
 '2019-04-09 00:32:07',
 '2019-01-29 16:12:52',
 '2019-02-01 20:18:28',
 '2019-01-25 05:04:01',
 '2019-02-11 00:24:18',
 '2019-04-11 02:57:58',
 '2019-04-26 08:31:23',
 '2019-03-24 23:37:10',
 '2019-03-24 21:58:25',
 '2019-03-10 05:23:50',
 '2019-02-02 16:37:18',
 '2019-03-12 01:39:41',
 '2019-01-29 20:40:56',
 '2019-03-21 02:57:41',
 '2019-03-25 21:46:20',
 '2019-03-19 12:32:49',
 '2019-04-17 22:12:49',
 '2019-02-27 08:19:34',
 '2019-01-25 01:59:40',
 '2019-02-19 13:19:38',
 '2019-01-23 13:00:34',
 '2019-01-30 21:46:18',
 '2019-04-11 10:26:44',
 '2019-04-19 03:26:10',
 '2019-01-11 11:10:10',
 '2019-03-28 03:35:48',
 '2019-03-19 16:19:22',
 '2019-02-18 15:01:19',
 '2019-01-19 19:40:33',
 '2019-01-18 20:09:27',
 '2019-01-12 04:35:48',
 '2019-02-12 16:33:18',
 '2019-04-17 02:26:37',
 '2019-02-20 10:47:47',
 '2019-01-27 08:09:59',
 '2019-04-29 01:12:26',
 '2019-01-05 09:33:59',
 '2019-03-19 22:03:13',
 '2019-04-12 12:30:28',
 '2019-02-01 19:45:09',
 '2019-04-16 15:23:51',
 '2019-01-27 09:35:35',
 '2019-02-08 05:58:51',
 '2019-04-06 13:42:16',
 '2019-02-09 02:25:28',
 '2019-03-10 13:55:17',
 '2019-01-08 18:59:23',
 '2019-03-05 01:38:53',
 '2019-04-11 10:09:51',
 '2019-01-20 01:34:06',
 '2019-05-01 04:53:47',
 '2019-01-21 14:48:10',
 '2019-02-07 21:45:45',
 '2019-01-08 08:49:26',
 '2019-03-24 07:40:47',
 '2019-03-28 09:56:51',
 '2019-04-03 03:29:52',
 '2019-02-21 17:53:52',
 '2019-01-11 04:27:00',
 '2019-02-28 13:10:56',
 '2019-01-17 21:35:17',
 '2019-02-22 23:54:55',
 '2019-02-12 22:59:02',
 '2019-01-18 02:32:38',
 '2019-02-24 22:20:33',
 '2019-04-05 14:01:28',
 '2019-03-24 02:56:21',
 '2019-04-27 14:57:38',
 '2019-04-14 16:26:12',
 '2019-01-20 23:10:11',
 '2019-04-26 12:08:00',
 '2019-01-12 01:19:37',
 '2019-03-07 15:57:52',
 '2019-04-21 23:32:00',
 '2019-01-09 01:48:18',
 '2019-02-02 12:51:14',
 '2019-04-10 23:38:24',
 '2019-01-12 09:42:16',
 '2019-04-28 04:00:40',
 '2019-05-02 12:46:00',
 '2019-04-21 03:44:04',
 '2019-03-22 04:06:56',
 '2019-01-21 19:25:49',
 '2019-01-21 04:12:54',
 '2019-04-25 00:37:43',
 '2019-03-25 13:20:36',
 '2019-03-13 04:21:16',
 '2019-01-14 03:43:39',
 '2019-03-17 06:50:12',
 '2019-04-10 14:27:37',
 '2019-02-10 02:55:45',
 '2019-03-17 19:21:42',
 '2019-04-03 01:20:38',
 '2019-04-01 06:26:40',
 '2019-04-17 11:25:21',
 '2019-03-18 04:11:03',
 '2019-01-29 02:13:40',
 '2019-02-16 10:23:48',
 '2019-03-27 23:57:27',
 '2019-03-30 13:15:56',
 '2019-02-01 03:23:46',
 '2019-03-16 20:54:05',
 '2019-01-16 11:59:09',
 '2019-03-28 13:29:17',
 '2019-03-11 16:18:17',
 '2019-03-17 00:31:07',
 '2019-05-05 15:47:32',
 '2019-02-28 22:50:15',
 '2019-01-05 11:31:02',
 '2019-02-28 18:19:01',
 '2019-03-26 19:09:42',
 '2019-02-19 02:25:34',
 '2019-01-03 22:50:12',
 '2019-04-17 02:49:28',
 '2019-03-08 13:24:07',
 '2019-03-19 07:54:20',
 '2019-01-18 10:59:29',
 '2019-04-05 07:12:55',
 '2019-03-27 02:11:44',
 '2019-04-19 00:56:32',
 '2019-03-16 19:46:26',
 '2019-04-28 00:26:35',
 '2019-03-19 07:17:50',
 '2019-03-07 12:26:18',
 '2019-04-06 16:17:11',
 '2019-04-26 09:31:22',
 '2019-01-28 00:07:00',
 '2019-04-19 19:45:44',
 '2019-03-20 10:34:54',
 '2019-03-07 20:59:06',
 '2019-02-18 14:47:10',
 '2019-02-20 19:14:49',
 '2019-01-29 07:28:20',
 '2019-02-23 11:46:09',
 '2019-03-12 10:02:28',
 '2019-02-19 20:47:52',
 '2019-05-04 02:54:31',
 '2019-02-05 19:24:40',
 '2019-02-28 16:46:23',
 '2019-04-03 16:27:42',
 '2019-01-10 23:48:39',
 '2019-02-03 00:14:26',
 '2019-03-10 05:15:34',
 '2019-03-21 08:44:32',
 '2019-03-22 04:19:27',
 '2019-03-11 16:10:27',
 '2019-02-17 02:06:40',
 '2019-04-16 23:13:24',
 '2019-03-16 20:49:51',
 '2019-04-28 16:29:16',
 '2019-01-18 12:47:59',
 '2019-02-05 22:28:38',
 '2019-04-10 04:59:53',
 '2019-04-15 20:37:17',
 '2019-04-17 20:05:26',
 '2019-01-19 00:36:52',
 '2019-02-18 03:09:59',
 '2019-02-11 18:51:20',
 '2019-03-02 00:54:29',
 '2019-02-21 10:56:41',
 '2019-01-14 17:06:37',
 '2019-04-15 11:02:50',
 '2019-02-12 01:18:02',
 '2019-04-03 14:44:18',
 '2019-02-22 03:55:59',
 '2019-04-19 16:30:12',
 '2019-01-23 10:13:17',
 '2019-01-15 05:51:27',
 '2019-05-02 21:02:33',
 '2019-03-20 07:40:33',
 '2019-03-17 23:54:01',
 '2019-01-27 00:57:25',
 '2019-01-25 15:19:45',
 '2019-04-03 02:42:50',
 '2019-01-06 20:15:24',
 '2019-01-03 21:45:19',
 '2019-04-02 16:53:49',
 '2019-02-08 22:01:28',
 '2019-03-04 17:50:37',
 '2019-04-21 18:31:07',
 '2019-02-10 08:14:32',
 '2019-02-14 05:24:26',
 '2019-04-02 04:52:55',
 '2019-03-17 01:22:44',
 '2019-05-05 14:17:49',
 '2019-02-10 13:50:42',
 '2019-01-30 22:09:42',
 '2019-04-09 08:10:39',
 '2019-02-08 11:46:15',
 '2019-01-13 00:03:43',
 '2019-04-15 23:02:22',
 '2019-01-13 23:53:09',
 '2019-02-24 04:41:39',
 '2019-02-24 22:01:38',
 '2019-03-14 17:07:27',
 '2019-03-20 03:04:47',
 '2019-01-15 14:51:33',
 '2019-04-01 04:02:50',
 '2019-05-04 04:36:23',
 '2019-02-17 07:58:51',
 '2019-04-20 20:13:28',
 '2019-05-01 17:20:29',
 '2019-03-04 16:59:24',
 '2019-01-26 02:37:54',
 '2019-03-25 18:17:04',
 '2019-01-21 17:04:11',
 '2019-02-08 15:50:12',
 '2019-02-03 09:58:39',
 '2019-04-18 23:27:09',
 '2019-02-17 03:30:47',
 '2019-02-25 12:18:38',
 '2019-04-11 10:38:15',
 '2019-05-02 23:25:49',
 '2019-04-12 19:38:44',
 '2019-02-16 17:25:31',
 '2019-03-30 02:27:21',
 '2019-04-12 14:37:13',
 '2019-04-28 02:38:11',
 '2019-04-01 09:27:03',
 '2019-02-19 11:01:35',
 '2019-03-17 22:39:55',
 '2019-02-27 11:19:43',
 '2019-03-02 09:13:23',
 '2019-03-30 15:12:10',
 '2019-04-07 16:28:35',
 '2019-03-08 16:32:28',
 '2019-02-07 06:07:37',
 '2019-03-31 11:49:06',
 '2019-03-14 17:18:02',
 '2019-03-10 01:02:12',
 '2019-04-16 16:21:54',
 '2019-03-27 08:26:32',
 '2019-02-17 00:27:47',
 '2019-01-03 23:11:22',
 '2019-04-23 02:57:08',
 '2019-02-16 04:31:29',
 '2019-04-24 13:07:44',
 '2019-02-19 04:45:59',
 '2019-02-22 04:25:41',
 '2019-02-19 19:49:30',
 '2019-03-19 14:50:21',
 '2019-03-07 23:37:32',
 '2019-02-05 11:47:56',
 '2019-01-26 21:29:46',
 '2019-01-21 01:50:28',
 '2019-03-17 04:51:53',
 '2019-03-31 17:01:37',
 '2019-03-06 06:10:01',
 '2019-02-25 18:39:11',
 '2019-03-07 20:09:48',
 '2019-04-19 01:55:51',
 '2019-03-06 07:44:32',
 '2019-02-10 19:41:43',
 '2019-02-23 13:48:18',
 '2019-02-26 10:01:46',
 '2019-01-31 09:17:15',
 '2019-04-06 09:03:01',
 '2019-04-29 00:20:22',
 '2019-04-05 02:05:55',
 '2019-02-11 23:07:39',
 '2019-01-27 15:52:21',
 '2019-03-12 04:54:10',
 '2019-01-17 16:17:18',
 '2019-03-24 06:49:11',
 '2019-04-03 11:34:45',
 '2019-04-17 19:01:44',
 '2019-01-15 06:27:59',
 '2019-05-08 04:20:00',
 '2019-02-21 20:28:30',
 '2019-01-18 07:41:16',
 '2019-01-29 13:01:07',
 '2019-02-04 00:29:52',
 '2019-04-14 14:48:43',
 '2019-01-01 17:22:58',
 '2019-04-09 00:32:12',
 '2019-03-14 10:37:58',
 '2019-01-17 12:10:59',
 '2019-02-03 12:19:32',
 '2019-02-21 08:05:48',
 '2019-04-12 08:17:16',
 '2019-03-02 04:56:41',
 '2019-04-02 15:48:32',
 '2019-03-18 04:53:20',
 '2019-04-01 09:24:21',
 '2019-02-27 18:08:19',
 '2019-03-15 22:44:08',
 '2019-03-19 15:25:24',
 '2019-01-06 08:34:21',
 '2019-01-28 02:32:37',
 '2019-01-14 20:53:44',
 '2019-03-23 10:48:34',
 '2019-03-15 08:40:23',
 '2019-02-22 19:42:54',
 '2019-01-25 01:33:06',
 '2019-02-16 02:35:16',
 '2019-05-02 02:19:02',
 '2019-02-19 22:53:02',
 '2019-03-11 20:07:13',
 '2019-03-30 17:59:22',
 '2019-04-07 02:32:23',
 '2019-02-23 19:46:33',
 '2019-03-19 12:17:33',
 '2019-05-06 12:39:09',
 '2019-01-22 09:08:49',
 '2019-04-16 01:26:39',
 '2019-02-17 05:01:00',
 '2019-04-10 05:38:29',
 '2019-02-14 22:52:40',
 '2019-01-07 05:12:12',
 '2019-04-03 15:07:34',
 '2019-01-05 00:44:39',
 '2019-01-04 15:56:18',
 '2019-04-06 13:59:18',
 '2019-04-10 04:16:04',
 '2019-04-23 21:11:11',
 '2019-02-28 05:42:04',
 '2019-04-20 02:16:07',
 '2019-04-25 23:04:28',
 '2019-02-03 06:15:55',
 '2019-03-09 03:25:16',
 '2019-04-07 06:17:04',
 '2019-02-06 00:47:29',
 '2019-01-24 12:24:22',
 '2019-01-22 13:10:36',
 '2019-01-31 15:50:00',
 '2019-01-05 19:32:37',
 '2019-02-08 00:14:45',
 '2019-02-26 09:36:01',
 '2019-02-05 00:47:59',
 '2019-04-26 04:05:05',
 '2019-03-03 00:24:33',
 '2019-02-28 14:54:06',
 '2019-01-05 10:59:55',
 '2019-01-31 23:29:52',
 '2019-01-27 13:40:02',
 '2019-03-06 23:01:03',
 '2019-01-22 02:28:03',
 '2019-04-12 23:29:11',
 '2019-04-28 09:25:03',
 '2019-02-28 03:20:15',
 '2019-03-20 05:37:35',
 '2019-03-24 16:27:49',
 '2019-05-04 14:56:45',
 '2019-02-19 20:48:16',
 '2019-04-06 22:33:03',
 '2019-02-01 12:52:11',
 '2019-02-18 23:43:21',
 '2019-03-24 13:39:38',
 '2019-02-08 10:29:22',
 '2019-03-04 00:41:43',
 '2019-04-13 09:52:43',
 '2019-05-03 15:31:44',
 '2019-02-25 02:33:57',
 '2019-03-21 07:56:22',
 '2019-03-21 13:31:31',
 '2019-03-18 12:47:22',
 '2019-03-07 10:38:26',
 '2019-03-15 10:18:45',
 '2019-04-24 08:49:13',
 '2019-01-25 06:48:15',
 '2019-02-19 14:09:20',
 '2019-03-16 07:06:47',
 '2019-05-07 11:23:59',
 '2019-01-15 08:50:46',
 '2019-03-27 07:24:26',
 '2019-04-16 05:05:36',
 '2019-01-04 23:57:27',
 '2019-02-22 07:07:53',
 '2019-02-12 20:45:11',
 '2019-02-28 16:10:35',
 '2019-03-13 12:52:31',
 '2019-04-22 21:34:17',
 '2019-04-27 14:11:38',
 '2019-04-19 20:35:20',
 '2019-01-04 04:30:04',
 '2019-03-27 00:20:58',
 '2019-02-15 02:18:44',
 '2019-02-27 04:29:37',
 '2019-03-08 04:18:36',
 '2019-05-03 02:36:46',
 '2019-02-04 15:04:43',
 '2019-03-20 23:44:20',
 '2019-05-07 12:25:01',
 '2019-05-01 13:29:10',
 '2019-02-19 04:01:49',
 '2019-01-08 11:48:08',
 '2019-02-01 21:16:13',
 '2019-02-12 16:31:30',
 '2019-02-08 06:11:38',
 '2019-01-15 21:21:00',
 '2019-01-06 20:14:54',
 '2019-01-25 08:14:54',
 '2019-04-01 00:35:10',
 '2019-01-01 14:42:25',
 '2019-03-12 09:22:48',
 '2019-02-05 08:10:57',
 '2019-02-17 15:51:49',
 '2019-05-05 09:46:32',
 '2019-01-25 12:19:12',
 '2019-04-15 09:17:59',
 '2019-01-12 19:38:06',
 '2019-04-25 15:55:24',
 '2019-04-29 10:20:58',
 '2019-04-11 13:52:28',
 '2019-04-04 14:32:35',
 '2019-04-04 08:04:07',
 '2019-01-21 03:20:06',
 '2019-03-08 13:35:49',
 '2019-01-02 00:44:03',
 '2019-03-25 08:38:47',
 '2019-03-21 19:46:43',
 '2019-01-27 05:35:02',
 '2019-04-28 10:54:14',
 '2019-02-06 10:02:30',
 '2019-02-14 14:40:41',
 '2019-01-16 17:13:34',
 '2019-03-27 00:44:29',
 '2019-02-11 20:25:42',
 '2019-02-06 17:29:41',
 '2019-02-23 00:15:55',
 '2019-01-05 14:35:09',
 '2019-04-13 10:23:37',
 '2019-01-10 02:57:54',
 '2019-02-06 07:07:55',
 '2019-04-21 04:50:53',
 '2019-03-28 12:48:55',
 '2019-04-16 01:06:17',
 '2019-01-16 06:23:21',
 '2019-01-24 07:48:14',
 '2019-01-01 00:08:16',
 '2019-04-20 21:40:03',
 '2019-05-07 17:27:48',
 '2019-05-01 02:18:03',
 '2019-01-17 03:43:17',
 '2019-01-04 20:45:01',
 '2019-03-25 17:11:15',
 '2019-03-25 18:55:34',
 '2019-01-16 02:06:12',
 '2019-03-19 17:31:55',
 '2019-04-07 06:50:30',
 '2019-01-07 20:29:02',
 '2019-04-18 17:41:28',
 '2019-01-23 21:22:39',
 '2019-01-31 23:20:52',
 '2019-03-09 14:47:25',
 '2019-05-01 17:43:35',
 '2019-03-25 16:07:22',
 '2019-02-06 16:11:31',
 '2019-02-24 05:39:00',
 '2019-03-21 22:54:03',
 '2019-03-23 16:45:56',
 '2019-01-14 20:49:49',
 '2019-02-28 20:01:26',
 '2019-04-11 09:09:53',
 '2019-03-27 06:49:10',
 '2019-04-24 08:05:51',
 '2019-03-31 03:35:12',
 '2019-02-11 05:48:29',
 '2019-01-28 15:49:50',
 '2019-02-19 08:25:58',
 '2019-03-08 07:06:54',
 '2019-02-09 00:25:20',

In [104]:
city_type = pyber_data_df["type"].tolist()
city_type

['Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 'Urban',
 ...]

In [114]:
# 1: using groupby() to create a new dataframe showing the sum of the fares for each date, 
# where the indices are the city type and date.
new_pyber_df = pd.DataFrame({
                             "Fare Sums": fare_sums,
                            "Date": new_date,
                            "City Type": city_type})
new_pyber_df.head(5)

   Fare Sums                 Date City Type
0      13.83  2019-01-14 10:14:22     Urban
1      30.24  2019-03-04 18:24:09     Urban
2      33.44  2019-02-24 04:29:00     Urban
3      23.44  2019-02-10 23:22:03     Urban
4      34.58  2019-03-06 04:28:35     Urban

In [120]:
# 2. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
# df = df.reset_index()
pyber_reset = new_pyber_df.reset_index()
pyber_reset

      index  Fare Sums                 Date City Type
0         0      13.83  2019-01-14 10:14:22     Urban
1         1      30.24  2019-03-04 18:24:09     Urban
2         2      33.44  2019-02-24 04:29:00     Urban
3         3      23.44  2019-02-10 23:22:03     Urban
4         4      34.58  2019-03-06 04:28:35     Urban
...     ...        ...                  ...       ...
2370   2370      13.38  2019-04-29 17:04:39     Rural
2371   2371      20.76  2019-01-30 00:05:47     Rural
2372   2372      11.11  2019-02-10 21:03:50     Rural
2373   2373      44.94  2019-05-07 19:22:15     Rural
2374   2374      55.84  2019-04-25 10:20:13     Rural

[2375 rows x 4 columns]

In [124]:
# 3. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pyber_pivot = pyber_reset.pivot_table(index = ['Date'], values = 'Fare Sums', columns = 'City Type')
pyber_pivot.head(10)

City Type            Rural  Suburban  Urban
Date
2019-01-01 00:08:16    NaN       NaN  37.91
2019-01-01 00:46:46    NaN     47.74    NaN
2019-01-01 02:07:24    NaN     24.07    NaN
2019-01-01 03:46:50    NaN       NaN   7.57
2019-01-01 05:23:21    NaN       NaN  10.75
2019-01-01 09:45:36  43.69       NaN    NaN
2019-01-01 12:32:48    NaN     25.56    NaN
2019-01-01 14:40:14    NaN       NaN   5.42
2019-01-01 14:42:25    NaN       NaN  12.31
2019-01-01 14:52:06    NaN     31.15    NaN

In [ ]:
# 4. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2019-01-01':'2019-04-29'.

In [ ]:
# 5. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 6. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 7. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 8. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')